body {
    font-family: 'Happy Monkey', cursive;
    text-align: center;
    background: #a2d2ff;
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
}


/*
h1, h2, h3, h4, p {
    text-shadow: 1px 1px 1px black;
}
*/


#pic {
    border-radius: 50%;
    width: 200px;
    border: 6px solid #efb0c9;
}