body {
    margin: 0;
    color: #D9C4AE;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.apply-btn {
    padding: 5px 10px;
    color:#D9C4AE;
    background-color: #a6463f;
    border: none;
    font-family: inherit;
    cursor: pointer;
    font-weight: 800;
    
}

.apply-btn:active {
    color: #000000;
    transform: translateY(3px);
}

.exp {
    border-bottom: 5px solid #D9C4AE;
}

#logo {
    width: 120px;
}

#hero {
    background-image: url("Images/galaxy.webp");
    background-size: cover;
    padding: 10px 0 200px 0;
}

#tnc {
    color: #231B3A;
    text-shadow: 1px 1px 4px #322538;
}