body {
    color: #D9C4AE;
    background-image: url("Images/galaxy.webp");
    background-size: cover;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.apply-btn {
    padding: 5px 10px;
    color: #000000;
    background-color: #E86E65;
    border: none;
    font-family: inherit;
    cursor: pointer;
    font-weight: bold;
}

.exp {
    border-bottom: 5px solid #D9C4AE;
}

#logo {
    width: 120px;
}