body {
    margin: 20px;
    text-align: center;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    padding: 20px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

.dotted-blue {
    border: 1px dotted #175ac5;
}